.customers-table {
  width: 100%;
  display: table;
  border-collapse: collapse;

  @include mq(notDesktop) {
    display: none;
  }
}

.customers-table__caption {
  position: absolute;
  top: 3rem;
  left: 4rem;
  right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: left;
}

.customers-table__title {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.022rem;
}

.customers-table__subtitle {
  font-weight: 400;
  letter-spacing: -0.014rem;
  color: var(--active-txt-cl);
}

.customers-table__subtitle_mt-7 {
  margin-top: 0.7rem;
}

.customers-table_mt-86 {
  margin-top: 8.6rem;
}

.customers-table__header {
  letter-spacing: -0.014rem;
  color: var(--secondary-txt-cl);
  text-align: left;
  text-transform: capitalize;
}

.customers-table__body {
  overflow: auto;
}

.customers-table__th {
  position: relative;
  padding: 1.4rem 0;
  font-weight: 500;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -4rem;

    width: 96.8rem;
    height: 0.1rem;

    background-color: var(--tr-bg);
  }

  &:first-child {
    width: 19.4%;
  }

  &:nth-child(2) {
    width: 14.8%;
  }

  &:nth-child(3) {
    width: 17.6%;
  }

  &:nth-child(4) {
    width: 23.4%;
  }

  &:nth-child(5) {
    width: 15.8%;
  }

  &:last-child {
    width: 9.0%;
    text-align: center;
  }
}

.customers-table__tr {
  border-bottom: 0.1rem solid var(--tr-bg);
}

.customers-table__td {
  padding: 2.3rem 0 2.4rem;

  &:last-child {
    text-align: center;
  }
}

.active {
  margin-top: 2rem;
  padding: 0.3rem 1.2rem;

  display: inline-flex;
  min-width: 8rem;
  justify-content: center;

  color: var(--active-txt-cl);
  background-color: var(--active-bg);
  border: var(--active-border);
  border-radius: 0.4rem;

  @include mq(notDesktop) {
    margin-top: 0;
  }
}

.inactive {
  @extend .active;
  color: var(--inactive-txt-cl);
  background-color: var(--inactive-bg);
  border: var(--inactive-border);
}

.table-data {
  padding-top: 3rem;
  color: var(--secondary-txt-cl);

  @include mq(notDesktop) {
    padding: 1rem;
    text-align: center;
  }
}
