.customers-table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.customers-table__caption {
  position: absolute;
  top: 30px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: left;
}

.customers-table__title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
}

.customers-table__subtitle {
  font-weight: 400;
  letter-spacing: -0.14px;
  color: var(--active-txt-cl);
}

.customers-table__subtitle_mt-7 {
  margin-top: 7px;
}

.customers-table_mt-86 {
  margin-top: 86px;
}

.customers-table__header {
  letter-spacing: -0.14px;
  color: var(--secondary-txt-cl);
  text-align: left;
  text-transform: capitalize;
}

.customers-table__body {
  overflow: auto;
}

.customers-table__th {
  position: relative;
  padding: 14px 0;
  font-weight: 500;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -40px;

    width: 968px;
    height: 1px;

    background-color: var(--tr-bg);
  }

  &:first-child {
    width: 19.4%;
  }

  &:nth-child(2) {
    width: 14.8%;
  }

  &:nth-child(3) {
    width: 17.6%;
  }

  &:nth-child(4) {
    width: 23.4%;
  }

  &:nth-child(5) {
    width: 15.8%;
  }

  &:last-child {
    width: 9.0%;
    text-align: center;
  }
}

.customers-table__tr {
  border-bottom: 1px solid var(--tr-bg);
}

.customers-table__td {
  padding: 23px 0 24px;

  &:last-child {
    text-align: center;
  }
}

.customers-table__td_active {
  margin-top: 20px;
  padding: 3px 12px;

  display: inline-flex;
  min-width: 80px;
  justify-content: center;

  color: var(--active-txt-cl);
  background-color: var(--active-bg);
  border: var(--active-border);
  border-radius: 4px;
}

.customers-table__td_inactive {
  @extend .customers-table__td_active;
  color: var(--inactive-txt-cl);
  background-color: var(--inactive-bg);
  border: var(--inactive-border);
}

.customers-table__tfoot__td {
  padding-top: 30px;
  color: var(--secondary-txt-cl);
}
