.logo {
  display: flex;
  gap: 8px;
  align-items: center;

  color: var(--black-txt-cl);
  text-decoration: none;
  transition: color var(--fast) var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-cl);

    .logo__version {
      color: var(--accent-cl);
    }
  }
}

.logo__text {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.logo__version {
  margin-left: 4px;

  font-size: 10px;
  letter-spacing: -0.1px;

  color: #838383;
  transition: color var(--fast) var(--transition-timing);
}