.nav-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.nav-link {
  padding: 11px 8px 11px 11px;

  display: flex;
  align-items: center;
  gap: 14px;

  letter-spacing: -0.14px;
  text-transform: capitalize;
  color: var(--disabled-txt-cl);
  border-radius: 8px;

  transition: all var(--fast) var(--transition-timing);

  &:hover,
  &:focus,
  &:target {
    background: var(--accent-cl);
    color: var(--white-txt-cl);
  }

  & svg:last-child {
    margin-left: auto;
  }

  & svg:hover,
  & svg:focus {
    color: var(--white-txt-cl);
  }
}