.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.nav-link {
  padding: 1.1rem 0.8rem 1.1rem 1.1rem;

  display: flex;
  align-items: center;
  gap: 1.4rem;

  letter-spacing: -0.014rem;
  text-transform: capitalize;
  color: var(--disabled-txt-cl);
  border-radius: 0.8rem;

  transition: all var(--fast) var(--transition-timing);

  &:hover,
  &:focus,
  &:target {
    background: var(--accent-cl);
    color: var(--white-txt-cl);
  }

  & svg:last-child {
    margin-left: auto;
  }

  & svg:hover,
  & svg:focus {
    color: var(--white-txt-cl);
  }
}