.pagination__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;

  @include mq(notDesktop) {
    padding: 1rem;
    justify-content: center;
  }
}

.pagination__item:not(:nth-child(6)) .pagination__button {
  width: 2.6rem;
  height: 2.4rem;

  border-radius: 0.4rem;
  border: 0.1rem solid var(--tr-bg);
  background: #F5F5F5;

  color: var(--pagination-txt-cl);

  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: -0.012rem;

  transition: all var(--fast) var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
    cursor: pointer;
    border-color: transparent;
  }

  &:active {
    transform: scale(1.1);
  }
}

.pagination__item:nth-child(6) .pagination__button {
  width: 1rem;
  border: none;
  background-color: transparent;
}