.search-form {
  position: relative;
}

.search-form_mr-9 {
  margin-right: 0.9rem;

  @include mq(notDesktop) {
    margin-right: 0;
  }
}

.search-form__input {
  width: 100%;
  min-width: 21.6rem;
  padding: 1.0rem 1.0rem 1.0rem 4.0rem;

  font-size: 1.2rem;
  letter-spacing: -0.012rem;

  border-radius: 1.0rem;
  background: var(--input-bg);
  border: none;
  outline: transparent;

  &::placeholder {
    color: var(--secondary-txt-cl);
  }

  @include mq(notDesktop) {
    margin-bottom: 2.0rem;
    background-color: var(--primary-bg);
  }
}

.search-form__button {
  padding: 0.7rem 0.8rem;

  position: absolute;
  top: 0;
  left: 0;

  border: none;
  outline: none;
  color: #7E7E7E;
  background-color: transparent;

  transition: all var(--fast) var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-cl);
    cursor: pointer;
    transform: scale(1.15);
  }
}