:root {
  --accent-cl: #5932EA;

  /* TEXT COLORS */
  --primary-txt-cl: #292D32;
  --secondary-txt-cl: #B5B7C0;
  --inactive-txt-cl: #9197B3;
  --white-txt-cl: #ffffff;

  /* FONTS */
  --main-font: 'Poppins', sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;
}