:root {
  --accent-cl: #5932EA;

  /* TEXT COLORS */
  --primary-txt-cl: #292D32;
  --secondary-txt-cl: #B5B7C0;
  --disabled-txt-cl: #9197B3;
  --white-txt-cl: #ffffff;
  --black-txt-cl: #000000;
  --active-txt-cl: #008767;
  --inactive-txt-cl: #DF0404;
  --pagination-txt-cl: #404B52;

  /* BACKGROUND COLORS */
  --primary-bg: #ffffff;
  --secondary-bg: #FAFBFF;
  --input-bg: #F9FBFF;
  --tr-bg: #EEEEEE;
  --active-bg:rgba(22, 192, 152, 0.38);
  --inactive-bg: #FFC5C5;

  /*BORDER*/
  --active-border: 0.1rem solid #00B087;
  --inactive-border: 0.1rem solid #DF0404;

  /* FONTS */
  --main-font: 'Poppins', sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;

  --transition-timing: ease;

  --box-shadow: rgba(226, 236, 249, 0.5) 0rem 1.0rem 6.0rem;
}