:root {
  --accent-cl: #5932EA;

  /* TEXT COLORS */
  --primary-txt-cl: #292D32;
  --secondary-txt-cl: #B5B7C0;
  --inactive-txt-cl: #9197B3;
  --white-txt-cl: #ffffff;
  --black-txt-cl: #000000;
  --active-txt-cl: #16C098;

  /* BACKGROUND COLORS */
  --primary-bg: #ffffff;
  --secondary-bg: #FAFBFF;
  --input-bg: #F9FBFF;

  /* FONTS */
  --main-font: 'Poppins', sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;

  --transition-timing: ease;
}