.sidebar {
  padding: 3.6rem 2.8rem 7.6rem;
  min-width: 30.6rem;

  display: flex;
  flex-direction: column;
  gap: 5.0rem;

  background-color: #fff;
  box-shadow: 0rem 1.0rem 6.0rem 0rem rgba(226, 236, 249, 0.50);

  @include mq(notDesktop) {
    width: 30.6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-30.6rem);

    transition: all var(--slow) var(--transition-timing);
  }
}

.sidebar__btn {
  display: none;

  @include mq(notDesktop) {
    display: inline-block;
    width: 3.2rem;

    position: absolute;
    top: 0;
    bottom: 0;
    right: -3.0rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--disabled-txt-cl);
    background: var(--accent-cl);
    border: none;
    transition: all var(--fast) var(--transition-timing);

    &:hover,
    &:focus {
      color: var(--white-txt-cl);
      cursor: pointer;
    }
  }
}

.menu-open {
  transform: translateX(0);

  .sidebar__btn svg {
    transform: rotate(180deg);
  }
}
