html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.014rem;

  color: var(--primary-txt-cl);
}

.root {
  display: flex;
  min-width: 380px;
  min-height: 100vh;

  background-color: var(--secondary-bg);
}
