.customers {
  @include mq(desktop) {
    padding: 3.0rem 4.0rem 4.0rem;
    position: relative;

    background-color: var(--primary-bg);
    border-radius: 3.0rem;
    box-shadow: var(--box-shadow);

    overflow: hidden;
  }

  @include mq(notDesktop) {
    padding: 0;
    background-color: transparent;
  }
}