.customers {
  @include mq(desktop) {
    padding: 30px 40px 40px;
    position: relative;

    background-color: var(--primary-bg);
    border-radius: 30px;
    box-shadow: var(--box-shadow);

    overflow: hidden;
  }

  @include mq(notDesktop) {
    padding: 0;
    background-color: transparent;
  }
}