table(class='customers-table customers-table_mt-86')
  caption(class='customers-table__caption')
    div
      h3(class='customers-table__title') All Customers
      p(class='customers-table__subtitle customers-table__subtitle_mt-7') Active Members
    include search-form
  thead(class='customers-table__header')
    tr
      each title in theadArr
        th(class='customers-table__th')= title
  tbody(class='customers-table__body')
    each customer in customers
      tr(class='customers-table__tr')
        each item in customer
          case item
            when 'Active'
              td(class='customers-table__td active')= item
            when 'Inactive'
              td(class='customers-table__td inactive')= item
            default
              td(class='customers-table__td')= item
  tfoot
    tr(class='customers-table__tfoot__tr')
      td(colspan='3', class='table-data') Showing data 1 to 8 of  256K entries
      td(colspan='3', class='table-data')
        include pagination

