a(href='/', class='logo', aria-label='logo')
  svg(width='37', height='37', aria-label='logo icon')
    use(xlink:href="@img/icons/icons.svg#logo")
  h1(class='logo__text') Dashboard
    span(class='logo__version') v.01