form(class='search-form')
  input(type="text", class='search-form__input', placeholder="Search")
  button(type="submit", class='search-form__button')
    svg(width='24', height='24', class='search-form__icon', aria-label='search icon')
      use(xlink:href='@img/icons/icons.svg#search')