div(class='user user--mt')
  div(class="avatar-container")
    img(srcset="@img/user1x.jpg 1x, @img/user2x.jpg 2x",
        src='@img/user1x.jpg',
        width="42"
        class='user__avatar'
        alt='user photo')
  div(class='user__meta')
    h4(class='user__name') evano
    p(class='user__position') project manager