main(class='customers')
  div(class='customers__header')
    div
      h3(class='customers__title') All Customers
      p(class='customers__subtitle customers__subtitle_mt-7') Active Member

    include ../components/search-form
  table

