html
	include html/head

	body
		div(class='root-wrapper')
			include html/sidebar
			div(class='page-wrapper')
				include html/header
				include html/pages/customers-page
			script(src='js/app.min.js')
