doctype html
html(lang='en')
	include html/layouts/head

	body
		div(class='root')
			include html/layouts/sidebar
			div(class='container')
				include html/layouts/header
				include html/pages/customers
		script(src='js/app.min.js')
